/* ---- Color variables defined in HTML ---- */

/* ---- Fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

@font-face {
    font-family: Futuracha;
    src: url(assets/futurachapro.otf);
}

/* ---- Layout ---- */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-hz {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.hidden {
    display: none;
}

/* ---- Content/Layout ---- */
body {
    font-family: sans-serif;
    min-height: 100dvh;
    height: auto;
    color: var(--raisin-black);
    margin: 0;
}

.fullscreen,
body::before {
    position: fixed;
    z-index: -1;

    /* Expand beyond the safe area */
    top: calc(0px - env(safe-area-inset-top));
    left: calc(0px - env(safe-area-inset-left));
    right: calc(0px - env(safe-area-inset-right));
    bottom: calc(0px - env(safe-area-inset-bottom));
    inset: 0;
}

body::before {
    content: "";
    background-image: var(--background-gradient);
    background-size: cover;
    background-repeat: no-repeat;
}


#main {
    padding: 1.5em;
    max-width: 600px;
    margin: 0 auto;
}

#loading {
    background: var(--primary);
    z-index: 1000;
}

#popup {
    z-index: 1100;
}

h1,
h2 {
    text-align: center;
    font-family: var(--header-font, Futuracha), fantasy;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;
    font-weight: normal;
}

h1 {
    font-size: xx-large;
    text-shadow: var(--main-title-shadow) 0 0 42px;
}

h2 {
    font-size: x-large;
}

form>h2 {
    text-shadow: var(--form-title-shadow) 0.1em 0.1em;
}

#main>h2 {
    text-shadow: var(--secondary-title-shadow) 0.75px 0.75px;
}

form {
    background: var(--background);
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(39, 34, 35, 0.2);
    margin-bottom: 1.5em;
}

select,
input,
button {
    width: 100%;
    padding: 0.75em;
    margin: 0.4em 0;
    font-size: 1em;
    border: 1px solid var(--primary);
    border-radius: 18px;
    box-sizing: border-box;
}

/* For iOS Safari */
@supports (-webkit-touch-callout: none) {
    input[list] {
        border: revert !important;
        border-radius: revert !important;
    }
}

select,
input {
    font-family: "Comic Neue";
}

input:disabled {
    background-color: var(--input-disabled);
    opacity: 1;
}

input:disabled::placeholder {
    color: #606060 !important;
}

select:invalid {
    color: grey;
}

input:focus {
    border-color: var(--primary);
    outline: none;
    box-shadow: 0 0 4px var(--primary);
}

#chef,
#sous-chef {
    text-transform: lowercase;
}

#recipeList {
    padding-bottom: 20px;
}

button {
    background-color: var(--primary);
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Comic Neue";
    font-weight: 600;
    border: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    transform: scale(0.98);
}

.entry {
    display: flex;
    flex: 1;
    color: var(--entry-text-odd);
    font-family: "Comic Neue";
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    padding: 0.75em 1em;
    margin-bottom: 0.5em;
    box-shadow: 0 1px 3px rgba(39, 34, 35, 0.1);
    background: var(--entry-background-odd);
}

.entry:nth-child(even) {
    background: var(--entry-background-even);
    color: var(--entry-text-even);
}

.entry>span {
    flex: 1;
    min-width: 0;
}

.delete-entry,
.delete-entry:hover {
    all: unset;
    float: right;
    width: 20px;
    height: 20px;
    margin: auto;
}

.delete-entry:hover {
    color: var(--entry-light);
}

.entry:nth-child(even) .delete-entry:hover {
    color: var(--entry);
}